.contact-section {
  min-height: 100vh;
  background: #fff;
}

.line {
  width: 70px;
  height: 4px;
  background: #2c3e50;
}

.star {
  font-size: 25px;
}

.form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
}

.form-control:focus {
  border-bottom: 2px solid #1abc9c;
  box-shadow: none;
}