
.portfolio-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.portfolio-item img {
  transition: 0.3s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(26, 188, 156, 0.8);
  opacity: 0;
  transition: 0.3s;
}

.plus {
  font-size: 70px;
  color: white;
  font-weight: bold;
}

.portfolio-item:hover .overlay {
  opacity: 1;
}
